body {
    font-family: 'Lato', sans-serif;
    background-color: #3f51b5;
}

div.main {
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
}

div.conv-card {
    height: 200px;
    display: grid;
    grid-template-rows: 80px auto;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    background-color: #fff;
    color: #3f51b5;
}

div.conv-header {
    display: grid;
    grid-row-gap: 5px;
}

div.from-curr {
    font-size: medium;
    font-weight: lighter;
    /* color: #878787; */
}

div.to-curr {
    font-size: xx-large;
    font-weight: lighter;
    /* color: #212121; */
}

div.converter {
    display: grid;
    grid-row-gap: 10px;
}

div.curr-form {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-column-gap: 15px;
}

input.value-input {
    height: 29px;
    border: 0.5px solid silver;
    text-indent: 10px;
    font-size: 13px;
    padding: 0px 10px;
    margin: 0;
    text-align: right;
    appearance: textfield;
    -ms-progress-appearance: textfield
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input.value-input:focus {
    outline: none;
}

select::-ms-expand {
    display: none;
}

.curr-select {
    background: url('up-down.png') 102% / 15% no-repeat whitesmoke;
}

select {
    border-radius: 0px;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 30px;
    padding: 5px;
    overflow: hidden;
    width: 150px;
}




.toastjs-container {
	position: absolute; /* Fallback */
	position: fixed;
	bottom: 30px;
	left: 30px;
	width: calc(100% - 60px);
	max-width: 400px;

	transform: translateX(-150%);
	transition: transform 1s;

	z-index: 100; /* */
}

.toastjs-container[aria-hidden="false"] {
	transform: translateX(0%);
}

.toastjs {
	background: #fff;
	padding: 10px 15px 0; /* No bottom padding because the buttons have a margin-bottom */
	border-left-style: solid;
	border-left-width: 5px;
	border-radius: 4px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
}

.toastjs.default {
	border-left-color: #AAAAAA;
}

.toastjs.success {
	border-left-color: #2ECC40;
}
.toastjs.warning {
	border-left-color: #FF851B;
}
.toastjs.danger {
	border-left-color: #FF4136;
}


.toastjs-btn {
	background: rgb(240,240,240);
	padding: 5px 10px;
	border: 0;
	border-radius: 4px;

	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;

	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.toastjs-btn--custom {
	background: rgb(50,50,50);
	color: #fff;
}


.toastjs-btn:hover,
.toastjs-btn:focus {
	outline: none;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
}


