body {
    background-color: #fff;
    font-family: 'Lato', sans-serif;
}

div.main {
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
}

div.conv-card {
    height: 200px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    display: grid;
    grid-template-rows: 80px auto;
    padding: 20px;
}

div.conv-header {
    display: grid;
    grid-row-gap: 5px;
}

div.from-curr {
    font-size: medium;
    font-weight: lighter;
    color: #878787;
}

div.to-curr {
    font-size: xx-large;
    font-weight: lighter;
    color: #212121;
}

div.converter {
    display: grid;
    grid-row-gap: 10px;
}

div.curr-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
}

input.value-input {
    height: 29px;
    border: 0.5px solid silver;
    text-indent: 10px;
    font-size: 13px;
    padding: 0px;
    margin: 0;
    text-align: right;
}

input.value-input:focus {
    outline: none;
}
select::-ms-expand {
    display: none;
}

.curr-select {
    background: url('up-down.png') 90% / 15% no-repeat whitesmoke;
}

select{
    border-radius: 0px;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 30px;
    padding: 5px;
}
