<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
</head>

<body>
    <div id="app" class="main">
        <div class="conv-card">
            <div class="conv-header">
                <div class="from-curr">{{fromVal}} {{fromCurr.currencyName}} equals</div>
                <div class="to-curr">{{toVal}} {{toCurr.currencyName}}</div>
            </div>
            <div class="conv-body">
                <div class="converter">
                    <div class="curr-form">
                        <input type="number" @keyup="convert()" @blur="convert()" v-model="fromVal" class="value-input">
                        <div class="select">
                            <select v-model="fromCurr" @change="convert()" class="curr-select" name="" id="">
                                <option
                                    v-for="(currency, index) in currencies"
                                    :key="index"
                                    :value="currency">
                                    {{currency.currencyName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="curr-form">
                        <input type="number" @keyup="convert(true)" @blur="convert(true)" v-model="toVal" class="value-input">
                        <div class="select">
                            <select v-model="toCurr" @change="convert(true)" class="curr-select" name="" id="">
                                <option
                                    v-for="(currency, index) in currencies"
                                    :key="index"
                                    :value="currency">
                                    {{currency.currencyName}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="graph"></div>
            </div>
        </div>
    </div>
</body>

</html>